
@media only screen and (min-width: 1368px) and (max-width: 1440px) {
    .container{
        position: relative;
        background-color:#EBE3CC;
        width: 1440px;
        height: 100vh;
    }
    
}