@font-face {
    font-family: 'Rationale';
    font-style: normal;
    font-weight: 400;
    src: local('Rationale'), local('Rationale-Regular'),
         url('../fonts/rationale-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/rationale-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-800 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/montserrat-v14-latin-800.eot'); /* IE9 Compat Modes */
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
         url('../fonts/montserrat-v14-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v14-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v14-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v14-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v14-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
html{
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
}
*, *::before, *::after{
    box-sizing: inherit;
}
@media only screen and (min-width: 1441px) and (max-width: 1536px) {
    .container{
        position: relative;
        background-color:#EBE3CC;
        width: 100%;
        height: 100vh;
    }
    
    .studentsButton{
        opacity: 1;
    }
    .menuButton{
        opacity: 0;
    }
    .settingsButton{
        opacity: 0;
    }
    .outButton{
        opacity: 0;
    }
    .rightBlock{
        position: absolute;
        width: 850px;
        height: 540px;
        margin-left: 420px;
        margin-top: 80px;
    }
    .table{
        position: relative;
        display: inline-flex;
        width: 870px;
        height: 570px;
        border: 2px solid black;
    }
    .tablePay{
        display: none;
    }
    .text{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 35px;
    }
    .table__line1{
        z-index: 1000;
        width: 1px;
        height: 568px;
        border: 1px solid black;
    }
    .table__line2{
        z-index: 1000;
        width: 1px;
        height: 568px;
        border: 1px solid black;
    }
    .width{
        border-bottom: 2px solid black;
        text-align: center;
        height: 35px;
        width: 290px;
    }
    .changeClass{
        position: absolute;
        width: 200px;
        height: 40px;
        margin-left: 890px;

        background-color: #D1D696;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 35px;

        color: #000000;
        box-shadow: 0px 4px 12px #423838;
    }
    .block{
        position: absolute;
        width: 200px;
        margin-top: 100px;
        margin-left: 890px;
    }
    .boxPay{
        position: fixed;
        width: 30px;
        height: 30px;
        background-color: #EEA38D;
    }

    .boxFree{
        margin-top: 20px;
        position: fixed;
        width: 30px;
        height: 30px;
        background-color: white;
    }
    .textPay{
        padding-top: 5px;
        margin-left: 40px;
    }
    .textFree{
        position: absolute;
        margin-top: 25px;
        margin-left: 40px;
    }
}