
@media only screen and (min-width: 1900px) and (max-width: 1920px) {
    .container{
        position: relative;
        background-color:#EBE3CC;
        width: 100%;
        height: 100vh;
    }
    .studentsButton{
        opacity: 0;
    }
    .menuButton{
        opacity: 1;
    }
    .settingsButton{
        opacity: 0;
    }
    .outButton{
        opacity: 0;
    }
    .rightBlock{
        display: none;
    }
    /* rigthBlockTwo */
    .change1920{
        position: absolute;
        margin-left: 1440px;
        margin-top: 30px;
        width: 220px;
        height: 35px;
        background-color: #D1D696;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 35px;

        color: #000000;
        box-shadow: 0px 4px 12px #423838;
    }

    .blockFreeTable1920{
        position: absolute;
        margin-top: 90px;
        
        margin-left: 660px;
        height: 358px;
        width: 1000px;
        /* border: 1px solid black; */
        display: inline-flex;
        padding: 0;
        
    } 
    .blockPayTable1920{
        position: absolute;
        margin-top: 530px;
        margin-left: 660px;
        height: 358px;
        width: 1000px;
        /* border: 1px solid black; */
        display: inline-flex;
        padding: 0;
        
    } 
    .colOne1920{
        display: inline-block;
        width: 150px;
        height: 30px;
    }
    .colTwo1920{
        display: inline-block;
        width: 650px;
        height: 350px;
    }
    .colThree1920{
        display: inline-block;
        height: 350px;
        width: 200px;
        	
    }
    /* Первая колонка (строчки) */
    .rowOneColOne1920{
        background-color: #EFDDB9;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 150px; 
        height: 40px;
    }
    .rowTwoColOne1920{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 150px; 
        height: 40px;
    }
    .rowThreeColOne1920{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 150px; 
        height: 240px;
    }
    .rowFourColOne1920{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 150px; 
        height: 40px;
        background-color: #EFDDB9;
    }
    /* Вторая колонка (строчки) */
    .rowOneColTwo1920{
        padding-left: 150px;
        position: relative;
        background-color: #EFDDB9;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 650px; 
        height: 40px;
        z-index: 7;
    }
    .rowTwoColTwo1920{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 650px; 
        height: 40px;
        z-index: 7;
        
        padding-left: 240px;
    }
    .rowThreeColTwo1920{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 650px; 
        height: 40px;
        z-index: 3;
    }
    .rowFourColTwo1920{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 650px; 
        height: 40px;
        z-index: 3;
    }
    .rowFiveColTwo1920{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 650px; 
        height: 40px;
        z-index: 3;
    }
    .rowSixColTwo1920{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 650px; 
        height: 40px;
        z-index: 3;
    }
    .rowSevenColTwo1920{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 650px; 
        height: 40px;
        z-index: 3;
        

    }
    .rowEightColTwo1920{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 650px; 
        height: 40px;
        z-index: 3;
        
    }
    .rowNineColTwo1920{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 650px; 
        height: 40px;
        background-color: #EFDDB9;
        padding-left: 385px;
        
    }
    /* Третья колонка (строчка) */
    .rowOneColThree1920{

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 200px; 
        height: 40px;
        background-color: #EFDDB9;
    }
    .rowTwoColThree1920{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 200px; 
        height: 40px;
        text-align: center;
    }
    .rowThreeColThree1920{
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 200px; 
        height: 40px;
    }
    .rowFourColThree1920{
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 200px; 
        height: 40px;
    }
    .rowFiveColThree1920{
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 200px; 
        height: 40px;
    }
    .rowSixColThree1920{
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 200px; 
        height: 40px;
    }
    .rowSevenColThree1920{
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 200px; 
        height: 40px;
        
    }
    .rowEightColThree1920{
        position:relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 200px; 
        height: 40px;
        
    }
    .rowNineColThree1920{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 200px; 
        height: 40px;
        background-color: #EFDDB9;
        padding-left: 10px;
    }
    .tr1920{
        /* border-top: 1px solid black; */
        border-bottom: 1px solid black;
        

    }
    .td1920{
        border: 1px solid black;
    }


    .titleStatusOne1920{
        transform: rotate(270deg);
        position: absolute;
        margin-top: 240px;
        margin-left: 410px;
        width: 300px;
        height: 50px;
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 35px;
        
        color: #000000;
        border-radius: 50px;
        background-color: #D1D696;
        text-align: center;
        border: 0.5px solid black;
        

    }
    .titleStatusTwo1920{
        transform: rotate(270deg);
        position: absolute;
        margin-top: 680px;
        margin-left: 410px;
        width: 300px;
        height: 50px;
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 35px;
      
        color: #000000;
        border-radius: 50px;
        background-color: #D1D696;
        text-align: center;
        border: 0.5px solid black;
    }
/* Третья колнка class for input */
    
    .text1920{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 35px;
        
        color: #000000;
        box-shadow: 0px 4px 12px #423838;
    }
    input[type="text"]{
        background: #EBE3CC;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        padding-left: 10px;

        color: #000000;
    }
    input[type="date"]{
        
        padding-top: 8px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        
        color: #000000;
    }
    ::-webkit-calendar-picker-indicator {
        margin-top: 3px;
        margin-left: -30px;
        position: absolute;
        color: transparent;
        opacity: 1;
        background: url(../image/svg/history.svg) no-repeat center;
        background-size: contain;
      }
      
    ::-webkit-clear-button {
        opacity: 0;
      }
    ::-webkit-inner-spin-button {
        opacity: 0;
    }
    /* button save free table */
    .buttonFreeSave1920{
        position: absolute;
        width: 200px;
        height: 40px;
        margin-top: 460px;
        margin-left: 1460px;
        cursor: pointer;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 35px;
        
        color: #000000;
        border-radius: 50px;
        background-color: #D1D696;
        text-align: center;
        border: 0.5px solid black;
        
    }
    /* button save Pay table */
    .buttonPaySave1920{
        border: 0.5px solid black;
        position: absolute;
        width: 200px;
        height: 40px;
      
        margin-top: 900px;
        margin-left: 1460px;
        pointer-events: none;

        cursor: pointer;
        border-radius: 50px;
        background-color: #D1D696;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        text-align: center;
        line-height: 35px;
        
        color: #000000;

    }
    
}
    
